.authPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.authPanelBlock{
    width: 300px;
}
/*auth header*/
.authheader {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.registrationText {
    margin: 0;
}

/*auth main*/
.authmain {
}

.authloginblock {
    width: 100%;
}

.authlogin {
    width: 100%;
    font-weight: 500;
    font-size: 1.5rem;
}

.authpasswordblock {
    width: 100%;
}

.authpassword {
    width: 100%;
    font-weight: 500;
    font-size: 1.5rem;
}

/*auth footer*/

.authfooter {
}

.authfooterblock {
    display: flex;
}

.authbutton {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 50%;
}

.authRedirect {
}

.authLogIn {
}
